:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: aliceblue;
  margin: 0;
}

header {
  background-color: aliceblue;
  border-bottom: 2px solid blue;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
}

#root {
  display: flex;
}