:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: aliceblue;
  margin: 0;
}

header {
  background-color: aliceblue;
  border-bottom: 2px solid blue;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
}

#root {
  padding: 0.9rem 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5vw;
  background-color: aliceblue;
}

#cv-preview {
  height: 842px; 
  width: 595px;
  background-color: rgb(246, 180, 100);
}

#cv-header {
  width: 595px;
  height: 180px;
  background-color: blueviolet;
}

#forms {
  width: 595px;
  height: 842px;
  background-color: aquamarine;
}